/* boundary */
body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxes{
    background-color: gray;
}

.boxes:hover {
    background-color: blue;
}
