/* boundary */
body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxes{
    flex-shrink: 0;
    background-color: gray;
    transition: .3s;
}

.hover {
    background-color: black;
}
